/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --ben-birthday-white: #fff;
  --ben-birthday-gray: #ccc;
  --ben-birthday-padding: 40px;
}

body {
  background: var(--ben-birthday-white);
}

main, footer {
  margin: 0 auto;
  max-width: 80%;
}

main {
  margin-bottom: 40px;
}

footer {
  text-align: center;

  a {
    display: inline-block;
    margin-right: 10px;

    &:first-of-type {
      padding: 0 10px;
      border-right: 1px solid var(--ben-birthday-gray);
    }
  }
}